<?php
return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        'db' => [
            'host' => '127.0.0.1',
//            'host' => 'puffin-db',
            'dbname' => 'puffin',
            'user' => 'puffin',
            'pass' => 'puffin',
            'port' => 3311,
//            'port' => 3306,
        ],

        // Renderer settings
        'renderer' => [
            'template_path' => __DIR__ . '/../templates/',
        ],

        'session' => [
            'name' => '_sess',
            'lifetime' => 86400,
            'path' => '/',
            'domain' => '',
            'secure' => false,
            'httponly' => false
        ],
    ],
];
