<?php
return [
    'settings' => [
        'displayErrorDetails' => true, // set to false in production
        'addContentLengthHeader' => false, // Allow the web server to send the content-length header

        'db' => [
            'host' => '127.0.0.1',
//            'host' => 'puffin-db',
            'dbname' => 'puffin',
            'user' => 'puffin',
            'pass' => 'puffin',
            'port' => 3311,
//            'port' => 3306,
        ],

        // Renderer settings
        'renderer' => [
            'template_path' => __DIR__ . '/../templates/',
        ],

        'session' => [
            'name' => '_sess',
            'lifetime' => 86400,
            'path' => '/',
            'domain' => '',
            'secure' => false,
            'httponly' => false
        ],

        'mailer' => [
            'smtp' => [
              'host' => 'smtp.gmail.com',
              'auth' => true,
              'username' => 'username@gmail.com',
              'password' => 'tainaparola',
              'secure' => 'tls',
              'port' => 587
            ],

            'emails' => [
                'password_recovery' => [
                    'subject' => 'Password reset request',
                    'body' => function($resetUrl) { return "
<html>
<body>
<p>Hello,</p>
<p>There was a request to change the password for your Puffin account</p>
<p>If you did not initiate this request, please ignore this message.</p> <p>Otherwise, click <a class=\"moz-txt-link-freetext\" href=\"$resetUrl\">this</a>
link, or copy/paste the following line in a browser:</p> <p><a class=\"moz-txt-link-freetext\" href=\"$resetUrl\">$resetUrl</a></p>
</body>
</html>";
                    },
                    'from' => [
                        'address' => 'address@gmail.com',
                        'name' => 'Puffin',
                    ],
                    'reply_to' => [
                        'address' => 'address+info@gmail.com',
                        'name' => 'Puffin Info',
                    ],
                ],
            ],
        ],
    ],
];
